<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <!-- Managers -->
    <!--<type type="Faust.IFaustManager, Faust.Shared.Contracts" mapTo="Faust.Managers.FaustManager, Faust.Managers.FaustManager">
      <lifetime type="singleton" />
    </type>
    --><!-- Engines --><!--
    <type type="Faust.IFaustEngine, Faust.Shared.Contracts" mapTo="Faust.Engines.FaustEngine, Faust.Engines.FaustEngine">
      <lifetime type="singleton" />
    </type>
    --><!-- Accessors --><!--
    <type type="Faust.IFaustAccessor, Faust.Shared.Contracts" mapTo="Faust.ResourceAccess.FaustAccessor, Faust.ResourceAccess.DatabaseAccessor">
      <lifetime type="singleton" />
    </type>
    <type type="Faust.IFaustMigrationsHistoryAccessor, Faust.Shared.Contracts" mapTo="Faust.ResourceAccess.FaustMigrationsHistoryAccessor, Faust.ResourceAccess.DatabaseAccessor">
      <lifetime type="singleton" />
    </type>-->
  </container>
</unity>