<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <!-- Managers -->
    <type type="NRC.Connect.IScheduleManager, NRC.Connect.Shared.Contracts" mapTo="NRC.Connect.Managers.ScheduleManager, NRC.Connect.Managers.ScheduleManager">
      <lifetime type="singleton" />
    </type>
    <!-- Engines -->
    <type type="NRC.Connect.INotificationQueueListener, NRC.Connect.Shared.Contracts" mapTo="NRC.Connect.Shared.NotificationQueueListener, NRC.Connect.Shared.NotificationQueueListener">
      <lifetime type="singleton" />
    </type>
    <!-- Accessors -->
    <type type="NRC.Connect.DataIngestion.IVisitAccessor, NRC.Connect.Shared.Contracts" mapTo="NRC.Connect.ResourceAccess.DataIngestion.VisitAccessor, NRC.Connect.ResourceAccess.DatabaseAccessor">
      <lifetime type="singleton" />
    </type>
  </container>
</unity>